h1, h2, h3, h4, h5, h6 {
    color: black;
    size: 100%;
    text-align: center;
    font-family: "Comic Sans MS";
  }

  body {
    font-family: "Comic Sans MS";
    text-align: center;
  }

.main {
    display: flex;
    flex-direction: row;
}
