@font-face {
  font-family: 'Omori1';
  src: url('OMORI_GAME2.ttf');
}

h1 {
    color: black;
    size: 200px;
    text-align: center;
    font-family: "Omori1";
  }

h3 {
    color: black;
    size: 75px;
    text-align: center;
    font-family: "Omori1";
  }

  body {
    font-family: "Omori1";
    text-align: center;
  }

.main {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#omori {
    width: 160px;
    height: 300px;
    background-color: #a6a6a6;
    border-color: #000000;
    border-style: solid;
    border-width: 8px;
    margin: 15px;
    padding: 5px 10px;
    text-align: center;
}

#basil {
    width: 160px;
    height: 300px;
    background-color: #d4fce2;
    border-color: #75f0aa;
    border-style: solid;
    border-width: 8px;
    margin: 15px;
    padding: 5px 10px;
    text-align: center;
}

#aubrey {
    width: 160px;
    height: 300px;
    background-color: #ffcce0;
    border-color: #ff96d5;
    border-style: solid;
    border-width: 8px;
    margin: 15px;
    padding: 5px 10px;
    text-align: center;
}

#kel {
    width: 160px;
    height: 300px;
    background-color: #fcd8b6;
    border-color: #ffa617;
    border-style: solid;
    border-width: 8px;
    margin: 15px;
    padding: 5px 10px;
    text-align: center;
}

#hero {
    width: 160px;
    height: 300px;
    background-color: #a8b7ff;
    border-color: #4f6fff;
    border-style: solid;
    border-width: 8px;
    margin: 15px;
    padding: 5px 10px;
    text-align: center;
}

#mari {
    width: 160px;
    height: 300px;
    background-color: #c0a2f5;
    border-color: #a94dff;
    border-style: solid;
    border-width: 8px;
    margin: 15px;
    padding: 5px 10px;
    text-align: center;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	appearance: none;
}
