@font-face {
  font-family: 'Omori2';
  src: url('OMORI_GAME.ttf');
}

body {
  font-family: 'Omori2';
  background-color: black;
  color: white;
}

h4 {
    color: white;
    size: 100px;
    text-align: center;
    font-family: "Omori2";
  }
